<form action="/chats/new" method="post">
    <h3>Sender : </h3>
    <input type="text" name="sender" style="width: 50vw;">
    <h3>Receiver : </h3>
    <input type="text" name="receiver" style="width: 50vw;">
    <h3>Message : </h3>
    <textarea name="msg" id="" cols="30" rows="10" maxlength="50"></textarea>
    <button>Send Message</button>
</form>